html, body {
    padding: 0;
    margin: 0;
    font-family: "Avenir Medium", system-ui, sans-serif;
    background-color: #000000;
    color: white;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-bottom: 1px solid #4b4b4b;
}

.userinfo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout-button {
    background-color: #222222;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}

.logout-button:hover {
    cursor: pointer;
    background-color: #353535;
    color: red;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin: 20px;
}

.note {
    background-color: #1d1d1d;
    padding: 15px 18px 15px 18px;
    border: 1px solid #4b4b4b;
    border-radius: 10px;
    transition: 0.3s;
}

.note:hover {
    cursor: pointer;
    background-color: #262626;
}

.note h2 {
    margin: 0;
    margin-bottom: 8px;
}

.note-content {
    color: #b0b0b0;
    font-size: 15px;
}   

.note-lastedit {
    margin-top: 5px;
    color: #676767;
    font-size: 10px;
}   